name: Documentation Generation

on:
  push:
    branches:
      - main

jobs:
  generate-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Dependencies
        run: |
          cd my-docusaurus-project
          npm install

      - name: Generate Documentation
        id: generate-docs
        run: |
          cd my-docusaurus-project
          npx docusaurus build
        continue-on-error: true

      - name: Update Log Document
        run: |
          echo -e "### $(TZ='Asia/Kolkata' date)\tCommit: $GITHUB_SHA\tMessage: $(git log --format=%B -n 1 $GITHUB_SHA)\tAuthor: $(git log --format=%an -n 1 $GITHUB_SHA)\tAuthor Email: $(git log --format=%ae -n 1 $GITHUB_SHA)\tCommitter: $(git log --format=%cn -n 1 $GITHUB_SHA)\tCommitter Email: $(git log --format=%ce -n 1 $GITHUB_SHA)\tBranch: $GITHUB_REF\tRepository: ${{ github.repository }}\tWorkflow Run ID: ${{ github.run_id }}\t" >> my-docusaurus-project/docs/log.md
          if [ ${{ steps.generate-docs.outcome }} == "success" ]; then
            echo -e "Status: Documentation generation successful\tURL: [View Actions](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})\t" >> my-docusaurus-project/docs/log.md
          else
            echo -e "Status: Documentation generation failed\tFailure by: ${{ github.actor }}\t" >> my-docusaurus-project/docs/log.md
          fi

      - name: Commit and Push Changes
        run: |
          git config --global user.email "rashishetty25@gmail.com"
          git config --global user.name "rashishetty25"
          git add my-docusaurus-project/docs/log.md
          git commit -m "Update documentation log [skip ci]"
          git push origin main
